---
import Hero from '~/components/widgets/Hero.astro';
import Stats from '~/components/widgets/Stats.astro';
import Layout from '~/layouts/PageLayout.astro';
import Image from '~/components/common/Image.astro';

const metadata = {
  title: 'Korweekender i You Name It',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero tagline="Medlemskab og optagelse">
    <Fragment slot="title">
      Syng med i
      <span class="text-accent dark:text-white highlight">You Name It</span>
    </Fragment>

    <Fragment slot="subtitle">Her kan du læse om medlemskab og optagelse i koret.</Fragment>

    <Fragment slot="content">
      <span class="hidden sm:inline"> To gange årligt har du mulighed for at blive optaget i koret: </span>

      <!-- list: August and january -->
      <ul class="list-disc list-inside">
        <li>Optagelse i august</li>
        <li>Optagelse i januar</li>
      </ul>
      <br />
      I begge tilfælde kan du følge med på vores facebookside <a
        class="mb-2 underline"
        href="https://www.facebook.com/younameitkoret">You Name It Koret</a
      > for at se, hvilke stemmegrupper, der er ledige pladser i, og hvornår du kan deltage i en korprøve.
    </Fragment>
  </Hero>
</Layout>
